.slidingImage{
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider{
	width: 700px;
	height: 150px;
	border-radius: 5px;
	overflow: hidden;
}

.slides{
	width: 1000%;
	height: 150px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 10%;
	transition: 2s;
}

.slide img{
	width: 700x;
	height: 150px;
}

/*Below is good for 5 pictures ONLY*/
#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -10%;
}

#radio3:checked ~ .first{
	margin-left: -20%;
}

#radio4:checked ~ .first{
	margin-left: -30%;
}

#radio5:checked ~ .first{
	margin-left: -40%;
}

/*css for automatic navigation*/
.navigation-auto{
	position: absolute;
	width: 300px;
	margin-top: 130px;
	display: flex;
	justify-content: center;
}

.navigation-auto div{
	border: 1.5px solid #F9FAFB;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
	/*visibility: hidden;*/
}

.navigation-auto div:not(:last-child){
	margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #0967F9
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #0967F9
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #0967F9
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #0967F9
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #0967F9
}

/*Blinking Effect*/
.blinking{
  animation:blinkingText 0.90s infinite;
  margin-bottom:10px;
  text-align:center;
}
@keyframes blinkingText{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
.blinking1{
  animation:blink 3s infinite;
  margin-bottom:10px;
  text-align:center;
  
}
@keyframes blink{
0%{opacity: 0;}
25%{opacity: .5;}
50%{opacity: .75}
100%{opacity: 1;}
}


